{% extends 'users/base.html' %}
{% block title %}Registrar Usuario{% endblock %}
{% block contenido %}
<h2>Registrar Usuario</h2>
<form method="post">
    {% csrf_token %}
    <label for="id_username">Nombre de usuario:</label>
    {{ formulario.username }}
    <br><br>

    <label for="id_email">Correo electrónico:</label>
    {{ formulario.email }}
    <br><br>

    <label for="id_password1">Contraseña:</label>
    {{ formulario.password1 }}
    <br><br>

    <label for="id_password2">Confirmar contraseña:</label>
    {{ formulario.password2 }}
    <br><br>

    <button type="submit">Registrarse</button>
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'pagina_principal' %}'">Volver</button>
</form>
{% endblock %}
